# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.coverage
*.egg-info/
dist/
build/

# OS
.DS_Store

# Secrets / local env
.env
.env.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
*.tfstate.lock.info
