MS_CLIENT_ID=<your-azure-app-client-id>
MS_TENANT_ID=consumers
# MS_CLIENT_SECRET=<your-azure-app-client-secret>   # required for confidential clients
# MS_DEFAULT_FROM_ADDRESS=your-alias@outlook.com
# MS_DEBUG=1
